<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - PCBuild</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{media/small1.svg}" type="image/x-icon">
</head>

<body>

    <header>
        <div class="container1">
            <div>
                <a th:href="@{/}">
                    <img th:src="@{media/full1.svg}" alt="pcbuild_logo" width="150px">
                </a>
            </div>
        </div>
        <div class="logoutt">
            <a href="/cerrarSesion">Cerrar Sesión</a>
        </div>
    </header>

    <main>
        <div class="form-reg">
            <h1 class="h1reg">Forgotten Password</h1>

            <div style="margin-left: 70px; margin-top: 30px; width: 420px;">
                <p class="reg-txt" style="margin-bottom: 20px; text-align: center;">
                    We understand that forgetting your password can be frustrating.
                    Don't worry, we're here to help you regain access to your account.
                </p>

                <p class="reg-txt" style="margin-bottom: 20px; text-align: center;">
                    If you have forgotten your password, please contact our support team
                    at the email address below. We will verify your identity and assist you
                    in resetting your password as quickly as possible.
                </p>



                <p class="reg-txt" style="margin-bottom: 10px; text-align: center;">
                    Support Email:
                </p>

                <p class="reg-txt" style="text-align: center; margin-bottom: 40px;">
                    <a href="mailto:admin@placeholder.es" style="color: #67518b; font-weight: 600; font-size: 18px;">
                        admin@placeholder.es
                    </a>
                </p>


            </div>
        </div>
    </main>

    <footer style="margin-top: 100px;">
        <div class="containerfooter">
            <div><span class="spanfooter">2026</span></div>
            <div><span class="spanfooter">PCBuild©</span></div>
            <a href="https://github.com/pabhb2-bnnuy">
                <div>
                    <img th:src="@{media/github.svg}" alt="github_logo" width="20px">
                </div>
            </a>
        </div>
    </footer>

</body>

</html>