<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCBuild, buildea tus sueños</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="shortcut icon" th:href="@{media/small1.svg}" type="image/x-icon">
</head>

<body>

    <!-- Cabezera -->
    <header>

        <div class="container1">
            <div><a th:href="@{/menu}"><img th:src="@{media/full1.svg}" alt="pcbuild_logo" width="150px"></a></div>
        </div>
        <div class="logoutt"><a href="/cerrarSesion">Cerrar Sesión</a></div>
    </header>

    <!-- Main, Cuerpo -->
    <main>


    <div class="conf_pc"><div>aa</div></div>


    </main>


    <!-- Pie de página -->
    <footer>

        <div class="containerfooter">

            <div><span class="spanfooter">2026</span></div>

            <div><span class="spanfooter">PCBuild©</span></div>

            <a href="https://github.com/pabhb2-bnnuy">

                <div><img th:src="@{media/github.svg}" alt="github_logo" width="20px">
                </div>
            </a>
        </div>
    </footer>
</body>

</html>